/* Base */
/* .... */
* {
  padding: 0;
  margin: 0;
}

body {
  margin: auto;
  max-width: 1400px;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
}

h1, h2, h3 {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 30px;
  font-weight: normal;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 16px;
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
}

/* Layout header */
header {
  padding: 20px 0 10px 0;
  text-align: center;
  background-color: #FFFFFF;
  filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.1));
}

/* Layout footer */
footer {
  background-color: #353535;
  color: #FFFFFF;
}
footer .footer-container {
  padding: 23px 20px 25px 20px;
  display: flex;
  flex-direction: column;
}
footer .footer-container__title {
  margin-bottom: 15px;
  font-size: 16px;
}
footer .footer-container__li {
  font-size: 15px;
}
footer .footer-container__li__icon {
  margin-right: 10px;
  width: 15px;
  font-size: 12px;
}

/* Factored */
.padding-top {
  padding-top: 45px;
}

.padding-bottom {
  padding-bottom: 60px;
}

.padding-left {
  padding-left: 20px;
}

.padding-right {
  padding-right: 20px;
}

.margin-top-comp-order {
  margin-top: 25px;
}

.margin-bottom-title {
  margin-bottom: 25px;
}

.margin-bottom-footer {
  margin-bottom: 8px;
}

.text-align-center {
  text-align: center;
}

.font-family-shrikhand {
  font-family: "Shrikhand", cursive;
}

/* Component call to action button */
.comp-call-to-action-btn {
  margin-top: 35px;
  padding: 20px 30px 20px 30px;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  border: none;
  filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.2));
  border-radius: 2em;
  color: #FFFFFF;
  font-size: 18px;
}

/* Component order */
.comp-order {
  display: flex;
  justify-content: start;
  position: relative;
  padding: 30px 20px 25px 30px;
  min-width: 270px;
  border-radius: 15px;
  background-color: #F7F7F7;
  filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.15));
  font-weight: normal;
}
.comp-order__number {
  position: absolute;
  left: -12px;
  width: 20px;
  height: 20px;
  padding: 2px;
  border-radius: 2em;
  background-color: #9356DC;
  color: #FFFFFF;
  font-size: 15px;
  line-height: 21px;
}
.comp-order__icon {
  margin-right: 30px;
  color: #7E7E7E;
  font-size: 22px;
}

/* Component restaurants card */
.comp-restaurants-card {
  display: flex;
  flex-direction: column;
  width: 330px;
  border-radius: 20px;
  overflow: hidden;
  filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.15));
}
.comp-restaurants-card__image-container {
  display: flex;
  height: 190px;
}
.comp-restaurants-card__description {
  display: flex;
  padding: 17px 25px 15px 10px;
  background-color: #FFFFFF;
}
.comp-restaurants-card__description__container {
  width: 90%;
}
.comp-restaurants-card__description__container__h3 {
  font-size: 18px;
  margin-bottom: 5px;
}
.comp-restaurants-card__description__icon {
  margin-top: 5px;
  width: 10%;
  font-size: 22px;
}

/* HOME PAGE */
.location {
  padding: 15px 0 15px 0;
  background-color: #EAEAEA;
  color: #353535;
  font-size: 15px;
  font-weight: bold;
}
.location .fa-location-dot {
  margin-right: 15px;
  font-size: 17px;
}

.call-to-action {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #F7F7F7;
}
.call-to-action__h2 {
  padding: 0 40px 0 40px;
}
.call-to-action__paragraph {
  margin-top: 15px;
  font-size: 18px;
}

.functioning {
  background-color: #FFFFFF;
}

.container-order {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurant {
  background-color: #F7F7F7;
}

.container-restaurants-card {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
