@charset "UTF-8";
/* Base */
/* .... */
* {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  margin: auto;
  max-width: 1400px;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
}

h1, h2, h3 {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 30px;
  font-weight: normal;
}

h2 {
  font-size: 25px;
  font-weight: normal;
}

h3 {
  font-size: 16px;
  font-weight: normal;
}

h4 {
  font-size: 17px;
  font-weight: normal;
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

@keyframes menu {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes menuIconRotation {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinerLoading {
  0% {
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: collapse;
  }
}
@keyframes spinerLoadingIcon {
  70% {
    transform: rotate(720deg) scale(0.5);
  }
  100% {
    transform: rotate(1080deg) scale(0);
  }
}
/* Layout header */
header {
  position: relative;
  padding: 9px 0 9px 0;
  background-color: #FFFFFF;
  filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.1));
}
header .header-h1 {
  padding-top: 10px;
}
header .header-icon {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-top: 7px;
  margin-left: 20px;
  font-size: 21px;
}

/* Layout footer */
.footer {
  background-color: #353535;
  color: #FFFFFF;
}
.footer__container {
  padding: 23px 20px 25px 20px;
  display: flex;
  flex-direction: column;
}
.footer__container__title {
  margin-bottom: 17px;
  font-size: 16px;
}
.footer__container__li {
  font-size: 15px;
}
.footer__container__li__a:hover {
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.footer__container__li__icon {
  margin-right: 5px;
  width: 15px;
  font-size: 12px;
}

/* Layout menu */
.container {
  position: relative;
}
.container__figcaption {
  position: absolute;
  top: 0;
  max-height: 300px;
  overflow: hidden;
}
.container__menu {
  z-index: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 200px;
  padding: 30px 15px 50px 15px;
  background-color: #F7F7F7;
  border-top-right-radius: 2.3em;
  border-top-left-radius: 2.3em;
}
@media screen and (min-width: 768px) {
  .container__menu {
    padding: 50px 30px 50px 30px;
    max-width: 650px;
    margin: auto;
    margin-bottom: 110px;
    border-radius: 2.3em;
    filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.1));
  }
}
.container__menu__title {
  display: flex;
  justify-content: space-between;
  font-size: 28px;
}
.container__menu__title__h2 {
  font-size: 28px;
}
.container__menu__title__favories {
  display: flex;
  position: relative;
  margin-right: 25px;
  height: 27px;
}
.container__menu__title__favories__icon-primary {
  z-index: 4;
  transition: opacity 500ms;
}
.container__menu__title__favories__icon-primary:hover {
  opacity: 0;
}
.container__menu__title__favories__icon-primary:hover + .container__menu__title__favories__icon-secondary {
  opacity: 1;
}
.container__menu__title__favories__icon-secondary {
  position: absolute;
  top: 0;
  z-index: 3;
  background: linear-gradient(to bottom, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transition: opacity 500ms;
}
.container__menu__h3 {
  margin-top: 20px;
  font-size: 15px;
}
.container__menu__design-element {
  margin-top: 5px;
  width: 37.4px;
  border-bottom: 3px solid #99E2D0;
}
.container__menu__ul {
  margin-top: 12px;
}
.container__menu__ul__li {
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  border-radius: 13px;
  filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.15));
  font-size: 14px;
  transform: translateY(20%);
  opacity: 0;
  animation: menu 1.5s 200ms both;
  overflow: hidden;
}
.container__menu__ul__li:hover .container__menu__ul__li__price {
  width: 110px;
}
.container__menu__ul__li:hover .container__menu__ul__li__price__secondary__icon {
  animation: menuIconRotation 700ms forwards;
}
.container__menu__ul__li__name {
  padding: 12px 0 12px 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.container__menu__ul__li__name__primary {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.container__menu__ul__li__name__secondary {
  margin-top: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.container__menu__ul__li__price {
  width: 45px;
  display: flex;
  font-size: 15px;
  transition: width 700ms ease-in-out;
}
.container__menu__ul__li__price__primary {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 28px 10px 0 10px;
  width: 35px;
}
.container__menu__ul__li__price__secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #99E2D0;
}
.container__menu__ul__li__price__secondary__icon {
  font-size: 25px;
  color: #FFFFFF;
}
.container__menu__ul__delay-one {
  animation-delay: 400ms;
}
.container__menu__ul__delay-two {
  animation-delay: 600ms;
}

/* Layout spiner loading */
.spiner-loding {
  z-index: 1;
  visibility: collapse;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(147, 86, 220, 0.4);
  animation: spinerLoading 3s ease-in-out forwards;
}
.spiner-loding__icon {
  margin-top: 85px;
  color: purple;
  font-size: 100px;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: spinerLoadingIcon 1.5s ease-in-out forwards;
}

/* Factored */
.padding-top {
  padding-top: 45px;
}

.padding-bottom {
  padding-bottom: 60px;
}

.padding-left {
  padding-left: 20px;
}

.padding-right {
  padding-right: 20px;
}

.margin-top-comp-order {
  margin-top: 25px;
}

.margin-bottom-title {
  margin-bottom: 25px;
}

.margin-bottom-footer {
  margin-bottom: 10px;
}

.margin-bottom-comp-restaurants-cards {
  margin-bottom: 20px;
}

.margin-bottom-layout-menu {
  margin-bottom: 12px;
}

.text-align-center {
  text-align: center;
}

.font-family-shrikhand {
  font-family: "Shrikhand", cursive;
}

.font-weight-bold {
  font-weight: bold;
}

.color-quatertiary {
  color: #FFFFFF;
}

.cursor-pointer {
  cursor: pointer;
}

.display-none {
  display: none;
}

/* Component call to action button */
.comp-call-to-action-btn {
  margin-top: 35px;
  padding: 20px 30px 20px 30px;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.2));
  border-radius: 2em;
  color: #FFFFFF;
  font-size: 18px;
  transition: filter 350ms;
}
.comp-call-to-action-btn:hover {
  filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.3)) brightness(1.1);
}

/* Component order */
.comp-order {
  display: flex;
  justify-content: start;
  position: relative;
  padding: 30px 20px 25px 30px;
  min-width: 270px;
  border-radius: 15px;
  background-color: #F7F7F7;
  filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.15));
  font-weight: normal;
  transition: background-color 400ms ease, color 400ms ease;
}
.comp-order:hover {
  background-color: rgb(245, 237, 255);
  color: #9356DC;
}
.comp-order:hover .comp-order__icon {
  color: #9356DC;
}
.comp-order__number {
  position: absolute;
  left: -12px;
  width: 20px;
  height: 20px;
  padding: 2px;
  border-radius: 2em;
  background-color: #9356DC;
  color: #FFFFFF;
  font-size: 15px;
  line-height: 21px;
}
.comp-order__icon {
  margin-right: 30px;
  color: #7E7E7E;
  font-size: 22px;
  transition: color 400ms ease;
}

/* Component restaurants card */
.comp-restaurants-card {
  display: flex;
  flex-direction: column;
  width: 330px;
  border-radius: 20px;
  overflow: hidden;
  filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.15));
}
.comp-restaurants-card:hover .comp-restaurants-card__description {
  background-color: #99E2D0;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .comp-restaurants-card {
    /* Fact margin top and bottom affected to this element */
    margin-right: 10px;
    margin-left: 10px;
  }
}
.comp-restaurants-card__image-container {
  display: flex;
  position: relative;
  height: 190px;
}
.comp-restaurants-card__image-container__tags {
  position: absolute;
  top: 15px;
  right: 13px;
  padding: 7px 11px 7px 11px;
  border-radius: 2px;
  font-size: 14px;
  background-color: #99E2D0;
  color: #008766;
}
.comp-restaurants-card__image-container__image {
  object-fit: cover;
}
.comp-restaurants-card__description {
  display: flex;
  padding: 17px 25px 15px 10px;
  background-color: #FFFFFF;
  transition: color 400ms, background-color 400ms;
}
.comp-restaurants-card__description__container {
  width: 90%;
}
.comp-restaurants-card__description__container__h3 {
  font-size: 18px;
  margin-bottom: 5px;
}
.comp-restaurants-card__description__icon {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 5px;
  width: 7.5%;
  height: 20.5px;
  font-size: 22px;
}

/* HOME PAGE */
.location {
  padding: 15px 0 15px 0;
  background-color: #EAEAEA;
  color: #353535;
  font-size: 15px;
}
.location .fa-location-dot {
  margin-right: 15px;
  font-size: 17px;
}

.call-to-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F7F7F7;
}
.call-to-action__h2 {
  padding: 0 40px 0 40px;
}
.call-to-action__paragraph {
  margin-top: 15px;
  font-size: 18px;
}
.call-to-action__a {
  margin-top: 35px;
  border-radius: 2em;
}

.functioning {
  background-color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .functioning__title {
    text-align: center;
  }
}

.container-order {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurant {
  /* Fact padding right and left affected to this element */
  padding-top: 50px;
  padding-bottom: 45px;
  background-color: #F7F7F7;
}
@media screen and (min-width: 768px) {
  .restaurant__title {
    text-align: center;
  }
}

.container-restaurants-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .container-restaurants-card {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}

/* MENU À LA FRANCAISE */
.footer-page-menu-francaise {
  position: relative;
  top: 200px;
}

.comp-container-page {
  display: flex;
  justify-content: center;
}

.call-to-action-btn-modif-page {
  padding: 15px 45px 15px 45px;
  font-size: 15px;
}

/*# sourceMappingURL=style.css.map */
