/* Layout header */
header {
    position: relative;
    padding: 9px 0 9px 0;
    background-color: #FFFFFF;
    filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.1));

    .header-h1 {
        padding-top: 10px;
    }

    .header-icon {
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding-top: 7px;
        margin-left: 20px;
        font-size: 21px;
    }
}

/* Layout footer */
footer {
    background-color: $dark;
    color: $quatertiary;

    .footer-container {
        padding: 23px 20px 25px 20px;
        display: flex;
        flex-direction: column;

        &__title {
            margin-bottom: 15px;
            font-size: 16px;
        }

        &__li {
            font-size: 15px;

            &__icon {
                margin-right: 10px;
                width: 15px;
                font-size: 12px;
            }
        }
    }
}

/* Layout menu */
.container {
    position: relative;

    &__figcaption {
        position: absolute;
        top: 0;
        max-height: 300px;
        overflow: hidden;
    }

    &__menu {
        z-index: 1;
        display: flex;
        flex-direction: column;
        position: relative;
        top: 200px;
        padding: 30px 15px 50px 15px;
        background-color: $menuBackgroundColor;
        border-top-right-radius: 2.3em;
        border-top-left-radius: 2.3em;

        &__title {
            display: flex;
            justify-content: space-between;
            font-size: 28px;
    
            &__h2 {
                font-size: 28px;
            }
            
            &__favories {
                display: flex;
                position: relative;
                margin-right: 25px;
                height: 27px;

                &__icon-primary {
                    z-index: 4;
                    @include heartAnimation;
                }

                &__icon-secondary {
                    position: absolute;
                    top: 0;
                    z-index: 3;
                    @include backgroundLinearGradient(to bottom, $primary, $secondary);
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    opacity: 0;
                    transition: opacity 500ms;
                }
            }
        }

        &__h3 {
            margin-top: 20px;
            font-size: 15px;
        }

        &__design-element {
            margin-top: 5px;
            width: 37.4px;
            border-bottom: 3px solid $tertiary;
        }

        &__ul {
            margin-top: 12px;

            &__li {
                display: flex;
                justify-content: space-between;
                background-color: $quatertiary;
                border-radius: 13px;
                filter: drop-shadow(0px 3px 8px rgb(0, 0, 0, 0.15));
                font-size: 14px;
                transform: translateY(20%);
                opacity: 0;
                animation: menu 1.5s 200ms both;
                overflow: hidden;

                &:hover .container__menu__ul__li__price {
                    width: 110px;
                }

                &:hover .container__menu__ul__li__price__secondary__icon {
                    animation: menuIconRotation 700ms forwards;
                }

                &__name {
                    padding: 12px 0 12px 10px;
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;

                    &__primary {
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }

                    &__secondary {
                        margin-top: 5px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }

                &__price {
                    width: 45px;
                    display: flex;
                    font-size: 15px;
                    transition: width 700ms ease-in-out;

                    &__primary {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 28px 10px 0 10px;
                        width: 35px;
                    }

                    &__secondary {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        width: 100%;
                        padding-left: 10px;
                        padding-right: 10px;
                        background-color: $tertiary;

                        &__icon {
                            font-size: 25px;
                            color: $quatertiary;
                        }
                    }
                }
            }

            &__delay-one {
                animation-delay: 400ms;
            }

            &__delay-two {
                animation-delay: 600ms;
            }
        }
    }
}

/* Layout spiner loading */
.spiner-loding {
    z-index: 1;
    visibility: collapse;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(147,86,220, 0.4);
    animation: spinerLoading 3s ease-in-out forwards;

    &__icon {
        margin-top: 85px;
        color: purple;
        font-size: 100px;
        @include backgroundLinearGradient(to top, $primary, $secondary);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        animation: spinerLoadingIcon 1.5s ease-in-out forwards;
    }
}

/* Factored */
.padding-top {
    padding-top: 45px;
}

.padding-bottom {
    padding-bottom: 60px;
}

.padding-left {
    padding-left: 20px;
}

.padding-right {
    padding-right: 20px;
}

.margin-top-comp-order {
    margin-top: 25px;
}

.margin-bottom-title {
    margin-bottom: 25px;
}

.margin-bottom-footer {
    margin-bottom: 8px;
}

.margin-bottom-comp-restaurants-cards {
    margin-bottom: 20px;
}

.margin-bottom-layout-menu {
    margin-bottom: 12px;
}

.text-align-center {
    text-align: center;
}

.font-family-shrikhand {
    font-family: 'Shrikhand', cursive;
}

.font-weight-bold {
    font-weight: bold;
}

.display-none {
    display: none;
}