/* Component call to action button */
.comp-call-to-action-btn {
    margin-top: 35px;
    padding: 20px 30px 20px 30px;
    @include backgroundLinearGradient(to top left, $primary, $secondary);
    border: none;
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.2));
    border-radius: 2em;
    color: $quatertiary;
    font-size: 18px;
    transition: filter 350ms;
    
    &:hover {
        filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.3)) brightness(1.1);
    }    
}

/* Component order */
.comp-order {
    display: flex;
    justify-content: start;
    position: relative;
    padding: 30px 20px 25px 30px;
    min-width: 270px;
    border-radius: 15px;
    background-color: $dark-background-color;
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.15));
    font-weight: normal;
    transition: background-color 400ms ease;

    &:hover {
        background-color: rgb(245,237,255);
    }

    &__number {
        position: absolute;
        left: -12px;
        width: 20px;
        height: 20px;
        padding: 2px ;
        border-radius: 2em;
        background-color: $primary;
        color: $quatertiary;
        font-size: 15px;
        line-height: 21px;
    }

    &__icon {
        margin-right: 30px;
        color: $compOrderIcon;
        font-size: 22px;
    }
}

/* Component restaurants card */
.comp-restaurants-card {
    display: flex;
    flex-direction: column;
    width: 330px;
    border-radius: 20px;
    overflow: hidden;
    filter: drop-shadow(0px 3px 8px rgb(0, 0, 0, 0.15));

    @media screen and (min-width: 768px) {
        /* Fact margin top and bottom affected to this element */
        margin-right: 10px;
        margin-left: 10px;
    }

    &__image-container {
        display: flex;
        position: relative;
        height: 190px;

        &__tags {
            position: absolute;
            top: 15px;
            right: 13px;
            padding: 7px 11px 7px 11px;
            border-radius: 2px;
            font-size: 14px;
            background-color: $compRestaurantCardTags;
            color: $compRestaurantCardTagsSecondary;
        }

        &__image {
            object-fit: cover;
        }
    }

    &__description {
        display: flex;
        padding: 17px 25px 15px 10px;
        background-color: $quatertiary;

        &__container {
            width: 90%;

            &__h3 {
                font-size: 18px;
                margin-bottom: 5px;
            }
        }

        &__icon {
            display: flex;
            justify-content: center;
            position: relative;
            margin-top: 5px;
            width: 7.5%;
            height: 20.5px;
            font-size: 22px;
        }
    }
}